
body{
    matrgin: 0;
 background: linear-gradient(135deg, #f8f9fa, #e9ecef);
 flex: 1;
 flex-direction: column;
}


.container {
    width: 100%;
    max-width: 1000px;
    min-width: 320px;
    margin: 0;
    padding: 0;
    height: auto;
    
}

.hola {
margin: 0;
padding: 0;
    width: 100%;
    height: auto;
    filter: brightness(50%);
 z-index: -2;    
}

.titulo{
    color: white;
    text-align: center;
    font-size: 18vw;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cal Sans';
    opacity: 100%;
    text-shadow: 2px 2px 16px rgba(0,0,0,0.5);
}

.four{
    color: black;
    text-align: center;
    font-size: 8vw;
    font-family: "Poppins";
    
}

.four2{
    color: black;
    text-align: justify;
    font-size: 5vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 90%;
    max-width: 95%;
    width: 95%;
    line-height: 1.6;
    margin-bottom: 1em;
}

.four3{
  line-height: 1.3;
  margin-bottom: 1em;
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
  font-family: "Inter";
  margin-top: 4vh;
  color: #303030;
}

.cover {
    width: 65%;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
    margin-top: 3vh;
}

.nayeon{
    width: 65%;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
    margin-top: 3vh;
}

.footer-content{
   background: #222;
}

.pie{
    color: #e6e6e6;
}

.pietitulo{
    color: white;
    font-size: 7vw;
    
}

.textopie{
    color: #555966;
    font-size: 3vw;
}

html,body{
    height: 100%;
    margin: 0;
}

.xd{
    color: white;
}

.edit{
    color: #959595;
    font-size: 4vw;
    margin-top: -10px;
}

.coso{
     width: 65%;
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
}

.pietitulo{
    font-family: "inter";
}

.pie{
    font-family: "inter";
}

.linea2{
    margin-top: -25px;
    width: 70%;
    height: 2px;
    background-color: black;
    border: none;
}

.linea3{
    margin-top: -25px;
    width: 55%;
    height: 2px;
    background-color: black;
    border: none;
}

.linea4{
    margin-top: -25px;
    width: 35%;
    height: 2px;
    background-color: black;
    border: none;
}

.linea5{
    margin-top: -25px;
    width: 83%;
    height: 2px;
    background-color: black;
    border: none;
}

.linea6{
    margin-top: -25px;
    width: 68%;
    height: 2px;
    background-color: black;
    border: none;
}

.linerdovich{
margin-top: -20px;
    width: 45%;
    height: 2px;
    background-color: black;
    border: none;
  
}

.animacion{
    height: 2px;
    background-color: black;
    border: none;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s ease;
}

.linea-visible{
    transform: scaleX(1);
}

.texto-animado{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.texto-visible{
    opacity: 1;
    transform: translateY(0);
}

.textubi{
    opacity: 0;
    transform: translateY(-40px);
    transition: all 1s ease;
}

.textubi2{
    opacity: 1;
    transform: translateY(0);
}

.pie-linea{
    height: 2px;
    background-color: #6f6f6f;
    border: none;
}